*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(252, 142, 99);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    background-color: rgb(242, 219, 161);
    color: rgb(73, 76, 78);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    gap: 1rem;
}

.pantalla{
    grid-column: 1/5;
    background-color: #ffff;
    padding:0.5rem ;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    border:1px solid black;
    text-align: right;
}

.btn{
    background-color: rgba(193, 184, 184, 0.97);
    color: #ffff;
    border: 0;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: cadetblue;
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: cadetblue;

}

#igual:hover{
    background-color: rgba(193, 184, 184, 0.97);

}